<%- include('partials/header') %>
<div class="task">
    <img src="css/task.jpg" alt="">
</div>
<div class="jumbotron centered">
    <div class="container">
        <i class="fa-solid fa-clipboard-list" style="font-size: 75px"></i>
        <h1 class="display-3"><b>Welcome to our To-Do List</b></h1>
        <p class="lead">Never Forget Anthing!
        

        </p>
        <hr>
        <a href="/register" class="btn btn-light btn-lg" role="button">Register</a>
        <a href="/login" class="btn btn-dark btn-lg" role="button">Login</a>
    </div>
</div>
<%- include('partials/footer') %>
